:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --timing-fn: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
}

/*========== COMPONENTS ==========*/
.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========== END COMPONENTS ==========*/

/* ========== Heder ==========*/
.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 93px;
}

.nav-list {
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link.current {
  color: var(--accent-color);
}

.nav-list-link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  transition: var(--timing-fn);
}

.nav-list-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  color: var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  transition: var(--timing-fn);
}

.header-address {
  display: block;
  margin-left: auto;
}

.address-mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.address-tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-color {
  color: var(--accent-color);
}

.logo-color-light {
  color: var(--white-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}

.address-mail:hover,
.address-mail:focus {
  fill: var(--accent-color);
}

.address-tel:hover,
.address-tel:focus {
  fill: var(--accent-color);
}

.address-mail,
.address-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: var(--timing-fn);
}

.address-mail {
  margin-right: 50px;
  display: inline-flex;
  align-items: center;
}

.address-tel {
  display: inline-flex;
  align-items: center;
}

/* ========== END Heder ==========*/

/* ========== HERO ==========*/
.hero {
  background-color: var(--hero-background-color);
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-top: 200px;
  margin-bottom: 30px;
}

.button {
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  margin-bottom: 200px;
  cursor: pointer;
}

/* ========== END HERO ==========*/

/* ========== Features ==========*/
.features-list {
  display: flex;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;
}

.features-block {
  display: flex;
  background-color: var(--secondary-background-color);
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.description {
  min-width: 270px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ========== About ==========*/
.about {
  padding-bottom: 94px;
}
.about-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-list-item {
  position: relative;
}

.about-thumb {
  content: "";
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.about-title-thumb {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 82px;
}
/* ========== END About ==========*/

/* ========== TEAM ==========*/
.team {
  background-color: #f5f4fa;
}

.team-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-photo {
  margin-bottom: 30px;
}

.team-subject-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-desc-prof {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 0 32px 30px 32px;
}

.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: var(--timing-fn);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-item:hover .social-item-icon,
.social-list-item:focus .social-item-icon {
  fill: #fff;
}

.social-list-item:hover,
.social-list-item:focus {
  background: var(--accent-color);
}

.social-item-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: var(--timing-fn);
}

/* ========== END TEAM ==========*/

/* ========== CLIENTS ===========*/
.clients-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: var(--timing-fn);
}

.clients-item-icon {
  fill: #afb1b8;
  transition: var(--timing-fn);
}

.clients-list-item:hover {
  border-color: var(--accent-color);
}

.clients-list-item:hover .clients-item-icon,
.clients-list-item:focus .clients-item-icon {
  fill: var(--accent-color);
}

/* ========== FOOTER ==========*/
.footer-color {
  background-color: var(--footer-background-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-items {
  width: 231px;
  margin-right: 70px;
}

.footer-list-logo {
  margin-bottom: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-list-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title-footer {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-footer-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: var(--timing-fn);
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.social-footer-item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-item:hover,
.social-footer-item:focus {
  background-color: var(--accent-color);
}

.social-footer:not(:last-child) {
  margin-right: 93px;
}

.social-footer-form {
  display: flex;
  margin-top: 20px;
}

.social-footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 0px 15px 16px;
  color: #fff;
  margin-right: 12px;
  transition: var(--timing-fn);
}

.social-footer-btn {
  display: inline-flex;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 10px 28px;
  cursor: pointer;
}

/* ========== PORTFOLIO.html ==========*/

/* ========== COMPONENTS ==========*/

/* ========== END COMPONENTS ==========*/

/* ========== MAIN ==========*/

.portfolio-list-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 34px;
}
.portfolio-btn {
  min-width: 73px;
  height: 38px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: var(--timing-fn);
}

.portfolio-list-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-card-content {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-list-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-subtitle {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay .portfolio-overlay-text {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: var(--timing-fn);
}

.portfolio-list-item {
  transition: var(--timing-fn);
}

.portfolio-list-item:hover .portfolio-overlay .portfolio-overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-overlay-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* ========== END MAIN ==========*/

/* ========== FOOTER ==========*/

/* ========== END FOOTER ==========*/

/* ========== MODAL-WINDOW ========*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: relative;
  width: 528px;
  padding: 40px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  transition: var(--timing-fn) 250ms;
}

.close-modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.close-modal-button:hover .icon-close-modal-button,
.close-modal-button:focus .icon-close-modal-button {
  fill: var(--accent-color);
}

.text-modal {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}

.modal-form-subject {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-subject-checkbox {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  margin-left: 7px;
}

.modal-form-message::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  margin-bottom: 10px;
}

.modal-placeholder-label {
  margin-bottom: 20px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: var(--timing-fn);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-icon-svg {
  fill: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-icon-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--timing-fn);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: var(--timing-fn);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-text-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-text-checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid black;
}

.modal-checkbox:checked + .modal-text-checkbox::before {
  background-image: url(../images/iconcheck.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.modal-form-button {
  display: block;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;

  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

.modal-link-checkbox {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration-skip-ink: none;
}
